%table.table
  %thead
    %tr
      %th Creation date
      %th File name
      %th Size
      %th Link
  %tbody
    - @attachments.each do |attachment|
      %tr
        %td= attachment.created_at.to_date
        %td= attachment.name
        %td= Converter.new.convert(attachment.size)
        %td= link_to 'Download', attachment.file
= paginate @attachments
